.contact_bg {
    top: -360px;
    left: -500px;
    z-index: -1;
}
.contact-title {
    color: var(--white);
    font-size: toRem(50px);
    padding: {
        top: 60px;
        bottom: 60px;
    };
}