.header {
    height: $header-height;
    background-color: var(--white);
    backdrop-filter: blur(12px);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: {
        left: 40px;
        right: 40px;
    };
    @include media-breakpoint-up(lg) {
        padding: {
            left: 60px;
            right: 60px;
        };
    }
    z-index: 999;
}
.logo {
    padding-right: 20px;
}