.serve-main {
    padding-top: $header-height;
    position: relative;
    overflow: hidden;
}
.serve-header {
    height: 670px;
    background-position: center;
    background-repeat: no-repeat;
}
@each $name in $serve-bg-images {
    .serve-#{$name}-bg {
        background-color: var(--gray-50);
        background-image: url('../images/serve/servr_#{$name}_bg.svg');
    }
}
.serve-logo {
    width: 200px;
}
.serve-feature-bg {
    position: relative;
    overflow: hidden;
    &::before, &::after {
        content: "";
        display: block;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
    }
    &::before {
        width: 616px;
        height: 616px;
        background-image: url('../images/serve/serve_feature_left.svg');
        top: -29px;
        right: -109px;
    }
    &::after {
        width: 587px;
        height: 516px;
        background-image: url('../images/serve/serve_feature_right.svg');
        top: 113px;
        left: -269px;
    }
}
.serve-hexagon-bg {
    background-color: var(--gray-50);
    background-image: url('../images/serve/serve_hexagon_bg.svg');
    background-position: center;
    background-repeat: no-repeat;
}
.architecture {
    .architecture-item {
        .item {
            display: block;
            text-decoration: none;
            width: 232px;
            box-shadow: var(--base-box-shadow);
            transition: var(--base-transition);
            position: relative;
            &:not(:last-child) {
                &::before {
                    content: "";
                    position: absolute;
                    height: 8px;
                    width: 30px;
                    background-color: var(--primary-200);
                    right: auto;
                    left: 50%;
                    top: calc(100% + 12px);
                    transform: translateX(-50%) rotate(90deg);
                    @include media-breakpoint-up(md) {
                        left: auto;
                        right: -30px;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
            &:hover {
                box-shadow: 0px 0px 40px 5px rgba($primary, 0.25);
                transition: var(--base-transition);
            }
        }
    }
}
.serve-video {
    position: relative;
    background-color: var(--gray-50);
    &::after, &::before {
        content: "";
        background-repeat: no-repeat;
        background-size: cover;
    }
    &::after {
        --top: -382px;
        --left: calc(50% - 760px);
        @include position(var(--top), var(--left), 630px, 606px);
        background-image: url('../images/serve/serve_video_top.svg');
    }
    &::before {
        --top: auto;
        --left: auto;
        @include position(var(--top), var(--left), 468px, 468px);
        background-image: url('../images/serve/serve_video_bottom.svg');
        right: calc(50% - 500px);
        bottom: -230px;
    }
}
.serve-cases {
    position: relative;
    &::after, &::before {
        content: "";
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;
    }
    &::after {
        --top: -82px;
        --left: -105px;
        @include position(var(--top), var(--left), 412px, 458px);
        background-image: url('../images/serve/serve_cases_left_bg.svg');
    }
    &::before {
        --top: 160px;
        --left: auto;
        @include position(var(--top), var(--left), 527px, 538px);
        background-image: url('../images/serve/serve_cases_right_bg.svg');
        right: 40px;
    }
}
.serve-video-lists > .item:not(:last-child) {
    margin-bottom: map-get($spacies, 4);
    @include media-breakpoint-up(md) {
        margin-bottom: 0;
    }
}
.serve-cases-lists > .strip-card:not(:last-child) {
    margin-bottom: map-get($spacies, 4);
}
// sivas
.sivas-icon {
    position: relative;
    &::before {
        display: none;
        font: var(--fa-font-solid);
        position: absolute;
        color: var(--primary-200);
        font-size: toRem(36px);
        z-index: 1;
        @include media-breakpoint-up(md) {
            display: block;
        }
    }
}
.sivas-icon-plus {
    &::before {
        display: block;
        content: "\2b";
        left: 50%;
        transform: translateX(-50%);
        bottom: -30px;        
        @include media-breakpoint-up(md) {
            bottom: auto;
            left: auto;
            right: -27px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
.sivas-icon-right {
    &::before {
        content: "\f061";
        right: -27px;
        top: 50%;
        transform: translateY(-50%);
    }
}
.sivas-icon-down {
    &::before {
        content: "\f063";
        left: 50%;
        transform: translateX(-50%);
        bottom: -30px;
    }
}
.sivas-icon-left {
    &::before {
        content: "\f060";
        left: -27px;
        top: 50%;
        transform: translateY(-50%);
    }
}
.sivas-icon-up {
    &::before {
        content: "\f062";        
        left: 50%;
        transform: translateX(-50%);
        top: -30px;
    }
}
.serve-sivas-table {
    > .tr {
        &:first-child {
            display: none;
        }
        display: block;
        grid-template-columns: 110px 1fr;
        gap: 16px;
        align-items: center;
        
        > .th {
            color: var(--primary);
            font-weight: var(--bolder);
            padding: {
                top: 16px;
                bottom: 16px;
            };
            text-align: center;
        }
        > .td {
            padding: {
                top: 16px;
                bottom: 16px;
            };
            text-align: center;
        }
        &:not(:last-child) {
            border-bottom: 1px solid var(--gray-200);
        }
    }
    @include media-breakpoint-up(md) {
        > .tr {
            display: grid;
            &:first-child {
                display: grid;
            }
            > .th {
                display: block;
            }
        }
    }
}
// srmas
.serve-srmas-dashboard {
    .left {
        width: 100%;
        position: relative;
        &::before {
            font: var(--fa-font-solid);
            content: "\f061";
            left: 50%;
            transform: translateX(-50%) rotate(90deg);
            bottom: -20px;
            position: absolute;
            color: var(--primary-200);
            font-size: toRem(36px);
            z-index: 1;
        }
        .item {
            background-color: var(--white);
            box-shadow: var(--base-box-shadow);
            padding: 16px 24px;
            font-size: toRem(24px);
            font-weight: var(--bolder);
        }
        @include media-breakpoint-up(md) {
            width: 180px;
            &::before {
                left: auto;
                bottom: auto;
                right: -15px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}
// lucas
.serve-lucas-log-left {
    position: relative;
    width: 100%;
    &::before {
        font: var(--fa-font-solid);
        content: "\f061";
        left: 20%;
        transform: rotate(90deg);
        bottom: -30px;
        position: absolute;
        color: var(--primary-200);
        font-size: toRem(36px);
        z-index: 1;
    }
    @include media-breakpoint-up(md) {
        width: 300px;
        &::before {
            left: auto;
            bottom: auto;
            right: -15px;
            top: 15px;
            transform: rotate(0deg);
        }
    }
}
.serve-lucas-log-center {
    .item {
        height: 130px;
    }
    .lucas-log-icon {
        position: relative;
        &::before {
            font: var(--fa-font-solid);
            content: "\f061";
            right: -30px;
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
            color: var(--primary-200);
            font-size: toRem(36px);
            z-index: 1;
        }
        &::after {
            content: "";
            display: block;
            background-color: var(--primary-200);
            position: absolute;
            bottom: -30px;
            left: 50%;
            transform: translateX(-50%);
            width: 8px;
            height: 30px;
            z-index: -1;
        }

    }
}
// soc
.serve-soc {
    > .item:not(:last-child) {
        position: relative;
        &::before {
            font: var(--fa-font-solid);
            content: "\f061";
            position: absolute;
            color: var(--primary);
            font-size: toRem(36px);
            z-index: 1;
            left: 50%;
            transform: translateX(-50%) rotate(90deg);
            bottom: -30px;
            @include media-breakpoint-up(md) {
                bottom: auto;
                left: auto;
                right: -27px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}
// gcb
.gcb-table {
    > .tr {
        display: grid;
        grid-template-columns: 1fr 1fr 110px;
        gap: 16px;
        align-items: center;
        > .th {
            color: var(--primary);
            font-weight: var(--bolder);
            padding: {
                top: 16px;
                bottom: 16px;
            };
            text-align: center;
        }
        > .td {
            padding: {
                top: 16px;
                bottom: 16px;
            };
            text-align: center;
            font-size: toRem(16px);
            font-weight: var(--bolder);
            > .item {
                display: block;
                padding: {
                    top: 16px;
                    bottom: 16px;
                };
                &:first-child {
                    padding-top: 0;
                }
                &:last-child {
                    padding-bottom: 0;
                }
                &:not(:last-child) {
                    border-bottom: 1px solid var(--gray-200);
                }
            }
        }
        &:not(:last-child) {
            border-bottom: 1px solid var(--gray-200);
        }
    }
}