$utilities: (
    "align": (
        responsive: true,
        property: text-align,
        class: text,
        values: left center right justify,
    ),
    "display": (
        responsive: true,
        property: display,
        class: d,
        values: inline inline-block block flex grid none,
    ),
    "flex-direction": (
        responsive: true,
        property: flex-direction,
        class: flex,
        values: row column row-reverse column-reverse,
    ),
    "flex-grow": (
        responsive: true,
        property: flex-grow,
        class: flex,
        values: (
            grow-0: 0,
            grow-1: 1,
        ),
    ),
    "flex-wrap": (
        responsive: true,
        property: flex-wrap,
        class: flex,
        values: wrap nowrap wrap-reverse
    ),
    "gap": (
        responsive: true,
        property: gap,
        class: gap,
        values: $gutters
    ),
    "row-gap": (
        responsive: true,
        property: row-gap,
        class: row-gap,
        values: $gutters
    ),
    "justify-content": (
        responsive: true,
        property: justify-content,
        class: justify-content,
        values: (
            start: flex-start,
            end: flex-end,
            center: center,
            between: space-between,
            around: space-around,
            evenly: space-evenly,
        ),
    ),
    "align-items": (
        responsive: true,
        property: align-items,
        class: align-items,
        values: (
            start: flex-start,
            end: flex-end,
            center: center,
            baseline: baseline,
            stretch: stretch,
        ),
    ),
    "align-self": (
        responsive: true,
        property: align-self,
        class: align-self,
        values: (
            auto: auto,
            start: flex-start,
            end: flex-end,
            center: center,
            baseline: baseline,
            stretch: stretch,
        ),
    ),
    "width": (
        responsive: true,
        property: width,
        class: w,
        values: (
            25: 25%,
            50: 50%,
            75: 75%,
            100: 100%,
            auto: auto,
            100vw: 100vw,
        ),
    ),
    "max-width": (
        property: max-width,
        class: mw,
        values: (
            100: 100%,
        ),
    ),
    "height": (
        responsive: true,
        property: height,
        class: h,
        values: (
            25: 25%,
            50: 50%,
            75: 75%,
            100: 100%,
            auto: auto,
            100vh: 100vh,
        ),
    ),
    "opacity": (
        property: opacity,
        class: opacity,
        values: (
            0: 0,
            25: 0.25,
            50: 0.5,
            75: 0.75,
            100: 1,
        ),
    ),
    // "font-size": (
    //     property: font-size,
    //     class: fs,
    //     values: (
    //         1: toRem(36px),
    //         2: toRem(30px),
    //         3: toRem(24px),
    //         4: toRem(20px),
    //         5: toRem(18px),
    //         6: toRem(16px),
    //         7: toRem(14px),
    //         8: toRem(12px)
    //     ),
    // ),
    "font-weight": (
        property: font-weight,
        class: fw,
        values: $fontWeighs,
    ),
    "line-height": (
        property: line-height,
        class: lh,
        values: (
            1: 1,
            sm: $line-height-sm,
            base: $line-height-base,
            lg: $line-height-lg,
        ),
    ),
    "white-space": (
        property: white-space,
        class: text,
        values: (
            wrap: normal,
            nowrap: nowrap,
        ),
    ),
    "text-decoration": (
        property: text-decoration,
        class: text-decoration,
        values: none underline line-through,
    ),
    "border-width": (
        property: border-width,
        class: border,
        values: $border-widths,
    ),
    "position": (
        property: position,
        class: position,
        values: static relative absolute fixed sticky,
    ),
    "top": (
        property: top,
        class: top,
        values: $position-values,
    ),
    "bottom": (
        property: bottom,
        class: bottom,
        values: $position-values,
    ),
    "start": (
        property: left,
        class: start,
        values: $position-values,
    ),
    "end": (
        property: right,
        class: end,
        values: $position-values,
    ),
    "translate-middle": (
        property: transform,
        class: translate-middle,
        values: (
            c: translate(-50%, -50%),
            x: translateX(-50%),
            y: translateY(-50%),
        ),
    ),
    "overflow": (
        property: overflow,
        class: overflow,
        values: auto hidden visible scroll,
    ),
    "background-color": (
        property: background-color,
        class: bg-white,
        values: (
            10: rgba($white, 0.1),
            50: rgba($white, 0.5),
            80: rgba($white, 0.8)
        ),
    ),
    "z-index-": (
        property: z-index,
        class: z-index,
        values: (
            1: 1,
            2: 2,
            3: 3,
            -1: -1,
        ),
    ),
) !default;
//
.base-box-shadow {
    box-shadow: var(--base-box-shadow) !important;
}
.rotate-90 {
    transform: rotate(90deg);
}
.small {
    font-size: toRem(14px);
}
.overflow-y-hidden {
    overflow-y: hidden;
}
@include media-breakpoint-down(sm) {
    .rotate-sm-90 {
        transform: rotate(90deg);
    }
}
.mw-760 {
    max-width: calc(760px + $container-padding-x);
    @include make-container($gutter:3rem);
    @include media-breakpoint-up(xs) {
        @include make-container($gutter:5rem);
    }
}
.mw-500 {
    max-width: 500px;
    width: 100%;
}
.mw-380 {
    max-width: 380px;
}
.mw-lg-380 {
    --gutter-x: 3rem;
    width: 100%;
    padding-right: calc(var(--gutter-x) / 2);
    padding-left: calc(var(--gutter-x) / 2);
    @include media-breakpoint-up(xs) {
        --gutter-x: 5rem
    }
    @include media-breakpoint-up(lg) {
        max-width: calc(380px + ($container-padding-x / 2));
    }
}