// colors
$blue: #3c48b9 !default;
$orange:#d08d00 !default;
$gray: #999999 !default;
$white: #fff !default;
$block: #000 !default;
$orangered: #e05100 !default;
$lightgray: #fbfbff;
// theme color interval
$theme-color-interval: 8% !default;
// blues
$blue-50: #ebedf9 !default;
$blue-100: #d1d5f0 !default;
$blue-200: #abb1e4 !default;
$blue-300: #848DD7 !default;
$blue-400: #5E69CB !default;
$blue-500: $blue !default;
$blue-600: #303A93 !default;
$blue-700: #232B6D !default;
$blue-800: #171C46 !default;
$blue-900: #0A0D20 !default;
// oranges
$orange-50: #FFF5E1 !default;
$orange-100: #FFEABF !default;
$orange-200: #FFD57B !default;
$orange-300: #FFB415 !default;
$orange-400: #F2A400 !default;
$orange-500: $orange !default;
$orange-600: #AE7600 !default;
$orange-700: #8C5F00 !default;
$orange-800: #6A4800 !default;
$orange-900: #483100 !default;
// grayscales
$gray-50: #F8F8F8 !default;
$gray-100: #F0F0F0 !default;
$gray-200: #DDDDDD !default;
$gray-300: #CCCCCC !default;
$gray-400: #aaaaaa !default;
$gray-500: $gray !default;
$gray-600: #888888 !default;
$gray-700: #555555 !default;
$gray-800: #333333 !default;
$gray-900: #0D0D0D !default;
// 
$dark-mode-50: #E1E2E9;
$dark-mode-200: #A5A8BF;
$dark-mode-500: #545877;
// Alarm
$alarm: #E05100;
// theme colors
$primary: $blue;
$secondary: $orange;
$warning: $orange;
// news content colors
$news-orange: #dd6f0a;
$news-green: #6DB130;
// colors
$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
	"white": $white,
	"block": $block,
	"orangered": $orangered,
	"alarm": $alarm,
	"lightgray": $lightgray,
	"newsOrange": $news-orange,
	"newsGreen": $news-green
) !default;
// primary colors
$colors: (
	primary-50: $blue-50,
	primary-100: $blue-100,
	primary-200: $blue-200,
	primary-300: $blue-300,
	primary-400: $blue-400,
	primary-500: $blue-500,
	primary-600: $blue-600,
	primary-700: $blue-700,
	primary-800: $blue-800,
	primary-900: $blue-900,
	secondary-50:  $orange-50,
	secondary-100: $orange-100,
	secondary-200: $orange-200,
	secondary-300: $orange-300,
	secondary-400: $orange-400,
	secondary-500: $orange-500,
	secondary-600: $orange-600,
	secondary-700: $orange-700,
	secondary-800: $orange-800,
	secondary-900: $orange-900,
	gray-50:  $gray-50,
	gray-100: $gray-100,
	gray-200: $gray-200,
	gray-300: $gray-300,
	gray-400: $gray-400,
	gray-500: $gray-500,
	gray-600: $gray-600,
	gray-700: $gray-700,
	gray-800: $gray-800,
	gray-900: $gray-900,
	dark-mode-50: $dark-mode-50,
	dark-mode-200: $dark-mode-200,
	dark-mode-500: $dark-mode-500
) !default;	
// size
$base-font-size: 16px;
// grid
$grid-columns: 12!default;
$grid-gutter-width: 1.5rem !default;;
$container-padding-x: $grid-gutter-width !default;
$container-max-width: 1000px;
// container
$enable-grid-classes: true !default;
$container-padding-x: $grid-gutter-width !default;
$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1000px,
	xxl: 1320px
);
// breakpoints
$grid-breakpoints: (
	'': false,
	xs: 480px,
	sm: 576px,
	md: 768px,
	lg: 1024px,
	xl: 1200px,
	xxl: 1440px,
	xxxl: 1600px
);
$spacer: 1rem;
$spacies: (
	0: 0,
	1: $spacer * .25, // 4px
	2: $spacer * .5, // 8px
	3: $spacer,       // 16px
	4: $spacer * 1.5, // 24px
	5: $spacer * 2,     // 32px
	6: $spacer * 2.5,   // 40px
	7: $spacer * 3.125, // 50px
	8: $spacer * 5,      // 80px
	9: $spacer * 6.25,   // 100px
	10: $spacer * 7.5,   //120px
	auto: auto,
);
$property: 'm', 'p';
$sides: '', 't', 'b', 'l', 'r', 'x', 'y';

$base-transition: .3s ease;
$base-box-shadow: 0px 4px 15px 0px rgba(#3c49ba, 0.1);
$base-btn-box-shadow: 0px 4px 23px rgba($primary, 0.3);
// font weight
$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: bold;
$font-weight-bolder: 600;
$fontWeighs: (
	lighter: $font-weight-lighter,
	light: $font-weight-light,
	normal: $font-weight-normal,
	bold: $font-weight-bold,
	bolder: $font-weight-bolder,
);
// line height
$line-height-base: 1.75;
$line-height-sm: 1.25;
$line-height-lg: 2;

$breadcrumb-divider: quote("/");
// border
$border-width: 1px !default;
$border-widths: (
	1: 1px,
	2: 2px,
	3: 3px,
	4: 4px,
	5: 5px
);
$border-radius-base: 0.3rem;
$transparent: transparent;
$border-color: $gray-300;
$btn-color: #3C49BA;
$btn-hover: #636DC8;
// header
$header-height: 60px;
// ratios
$aspect-ratios: (
	"1x1": 100%,
	"4x3": calc(3 / 4 * 100%),
	"16x9": calc(9 / 16 * 100%),
	"21x9": calc(9 / 21 * 100%)
);
// position values
$position-values: (
	0: 0,
	50: 50%,
	100: 100%
);
$statements-bg: #F5F6FC;
$aboutUs-color-dark-purple: #833B7F;
$aboutUs-color-purple: #CC348C;
$aboutUs-color-green: #00A43A;
$aboutUs-color-orange: #EE7900;
$aboutUs-color-cyan: #5DACE0;
// 
$gutters: (
	0: 0,
	1: $spacer * .25,
	2: $spacer * .5,
	3: $spacer,
	4: $spacer * 1.5,
	5: $spacer * 3,
);
// index serve text color
$index-serve-sesc: #296FA2;
$index-serve-heis: #00736B;
$index-serve-soc: #225DAB;
$index-serve-srmas: $aboutUs-color-dark-purple;
$index-serve-lucas: $aboutUs-color-green;
$index-serve-sivas: $aboutUs-color-orange;
$index-serve-ssc: $aboutUs-color-cyan;
$index-serve-edr: $aboutUs-color-purple;
$index-serve-isms: $gray-700;

$index-serve-colors: (
	sesc: $index-serve-sesc,
	heis: $index-serve-heis,
	soc: $index-serve-soc,
	srmas: $index-serve-srmas,
	lucas: $index-serve-lucas,
	sivas: $index-serve-sivas,
	ssc: $index-serve-ssc,
	edr: $index-serve-edr,
	isms: $index-serve-isms
);

// serve background images
$serve-bg-images: ('moc','heis','sivas','srmas','lucas','sesc','soc','appCheck','cse','codeDetect','gcb');